<a href="https://colab.research.google.com/github/LokeswariGottugundala/PYTHON-BASIC-CODES/blob/main/BASIC_CODES.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SUM OF NUMBERS IN GIVEN RANGE

In [ ]:
n1=int(input())
n2=int(input())
sum=0
for i in range(n1,n2+1):
  sum +=i
print(sum)

3
6
18

# PRIME NUMBER OR NOT

In [ ]:
num = int(input())
flag = 0
for i in range(2,num):
  if num%i==0:
    flag = 1
    break
if flag == 1:
  print('Not Prime')
else:
  print("Prime")

In [ ]:
n = int(input())
for i in range(2,n):
  if n%i==0:
    print("Not Prime")
    break
else:
  print("Prime")

3
Prime

# PRIME NUM IN GIVEN RANGE

In [ ]:
n1=int(input())
n2=int(input())
for i in range(n1,n2+1):
  for j in range(2,i):
    if i%j==0:
      break
  else:
    print(i,end=" ")

2
10
2 3 5 7

# SUM OF ALL DIGITS IN A NUM

In [ ]:
n = int(input())
sum=0
while n >0:
  sum+=int(n%10)
  n=n//10
print(sum)

12345
15

# REVERSE NUM

In [ ]:
n=int(input())
print(str(n)[::-1])

123
321

In [ ]:
n= int(input())
rev=0
while n>0:
  rem = n %10
  rev=rev*10+rem             #same logic for palindrome
  n = n//10
print(rev)

123
321

# PALINDROME

In [ ]:
n=int(input())
rev=int(str(n)[::-1])
if n==rev:
  print("Palindrome")
else:
  print("Not Palindrome")

121
Palindrome

# ARMSTRONG  NUM

In [ ]:
n=int(input())