<a href="https://colab.research.google.com/github/LokeswariGottugundala/PYTHON-BASIC-CODES/blob/main/BASIC_CODES.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SUM OF NUMBERS IN GIVEN RANGE

In [ ]:
n1=int(input())
n2=int(input())
sum=0
for i in range(n1,n2+1):
  sum +=i
print(sum)

3
6
18

# PRIME NUMBER OR NOT

In [ ]:
num = int(input())
flag = 0
for i in range(2,num):
  if num%i==0:
    flag = 1
    break
if flag == 1:
  print('Not Prime')
else:
  print("Prime")

In [ ]:
n = int(input())
for i in range(2,n):
  if n%i==0:
    print("Not Prime")
    break
else:
  print("Prime")

3
Prime

# PRIME NUM IN GIVEN RANGE

In [ ]:
n1=int(input())
n2=int(input())
for i in range(n1,n2+1):
  for j in range(2,i):
    if i%j==0:
      break
  else:
    print(i,end=" ")

2
10
2 3 5 7

# SUM OF ALL DIGITS IN A NUM

In [ ]:
n = int(input())
sum=0
while n >0:
  sum+=int(n%10)
  n=n//10
print(sum)

12345
15

# REVERSE NUM

In [ ]:
n=int(input())
print(str(n)[::-1])

123
321

In [ ]:
n= int(input())
rev=0
while n>0:
  rem = n %10
  rev=rev*10+rem             #same logic for palindrome
  n = n//10
print(rev)

123
321

# PALINDROME

In [ ]:
n=int(input())
rev=int(str(n)[::-1])
if n==rev:
  print("Palindrome")
else:
  print("Not Palindrome")

121
Palindrome

# ARMSTRONG  NUM

In [ ]:
n=int(input())
sum = 0
temp = n
while temp > 0:
  rem = temp%10
  sum += rem**3
  temp //=10
if n == sum:
  print("armstrong")
else:
  print("not armstrong")

371
armstrong

# ARMSTRONG NUM WITHIN A RANGE

In [ ]:
def armstrong(n1,n2):

  for n in range(n1,n2+1):
    sum = 0
    temp = n
    while temp > 0:
      rem = temp%10
      sum += rem**3
      temp //=10

    if n ==sum:
      print(n,end=" ")
n1=int(input())
n2= int(input())
armstrong(n1,n2)

150
10000
153 370 371 407

#FIBANOCCI SERIES

In [ ]:
n = int(input())
a = 0
b = 1
print(a,b,end=" ")
for i in range(2,n):
  c = a + b
  a = b
  b = c
  print(c,end=" ")

25
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946 17711 28657 46368

# POWER OF NUMBER

In [ ]:
n =int(input())
pow = int(input())
print(n**pow)

3
3
27

## FACTOR OF A NUMBER

In [ ]:
n = int(input())
for i in range(1,n+1):
  if n%i == 0:
    print(i,end=' ')

25
1 5 25

#PRIME FACTORS OF A NUMBER

In [ ]:
n = int(input())
div = 2
for i in range(2,n):
  if n%div ==0:
    print(div,end = ' ')
    n = n//div
  else:
    div +=1

60
2 2 3 5

# STRONG NUMBER

In [ ]:
n = int(input())
temp = n
sum = 0
while n>0:
  digit = n%10
  n =n//10
  fact =1
  for i in range(1,digit+1):
    fact = fact*i
  sum +=fact
if sum == temp:
  print("strong number")
else:
  print("not a strong number")

145
strong number

# PERFECT NUMBER

In [ ]:
n=int(input())
sum =0
for i in range(1,n):
  if n % i ==0:
    sum+=i
if sum ==n:
  print("perfect num")
else:
  print("not a perfect num")

30
not a perfect num

# PERFECT SQUARE

In [ ]:
n=int(input())
for i in range(1,n):
  if i*i ==n:
    print("perfect square")
    break
else:
  print("not a perfect square")

81
perfect square

# AUTOMORPHIC NUMBER

In [ ]:
n=int(input())
a=str(n)
n1=n**2
b=str(n1)
if b.endswith(a):
  print("automorphic num")
else:
  print("not an automorphic num")

375
not an automorphic num

#HARSHAD NUMBER

In [ ]:
n=int(input())
temp=n
sum=0
while(n>0):
  sum+=n%10
  n=n//10
if(temp%sum==0):
  print("harshad num")
else:
  print("not a harshad num")

21
harshad num

#ABUNDANT NUMBER

In [ ]:
n=int(input())
sum=1
for i in range(2,n):
  if n%i==0:
    sum+=i
if sum>n:
  print("abundant num")
else:
  print("not an abundant num")

16
not an abundant num

#FRIENDLY PAIR/AMICABLE PAIR

In [ ]:
num1 = int(input())
num2 = int(input())

sum1 = 0
sum2 = 0
for i in range(1, num1):
    if num1 % i == 0:
        sum1 += i
for i in range(1, num2):
    if num2 % i == 0:
        sum2 += i
if sum1 == num1 and sum2 == num2:
    print("friendly pair")
else:
    print("not a friendly pair")

6
28
friendly pair

#HCF OF A NUMBER

In [ ]:
n1=int(input())
n2=int(input())
hcf=1
for i  in range(1,min(n1,n2)):
  if n1%i==0 and n2%i==0:
    hcf=i
print(hcf)

36
60
12

#**OPERATIONS** **ON** **ARRAYS**

#LARGEST ELEMENT IN AN ARRAYS

In [ ]:
arr=list(map(int,input().split()))
#print(max(arr))

#arr.sort()
#arr[-1]


max=arr[0]
for i in range(len(arr)):
  if arr[i]>max:
    max=arr[i]                          #similar logic for smallest number and largest num
print(max)

10 45 69 89 23 49
89

#2ND SMALLEST ELEMENT

In [ ]:

def find_2nd_smallest(arr):
    if len(arr) < 2:
        return "Array must have at least two elements"

    unique_arr = sorted(list(set(arr)))

    if len(unique_arr) < 2:
        return "No second smallest element (all elements are the same)"

    return unique_arr[1]

10 48 32 49 29

29

In [ ]:
def find_2nd_smallest(arr):
    if len(arr) < 2:
        return "Array must have at least two elements"

    unique_arr = sorted(list(set(arr)))

    if len(unique_arr) < 2:
        return "No second smallest element (all elements are the same)"

    return unique_arr[1]



#arr=list(map(int,input().split()))
#arr.sort()
#arr[1]

#SUM OF ELEMENTS

In [ ]:
a=list(map(int,input().split()))
sum=0
for i in a:
 sum+=i
print(sum)

10 20 30 40
100

#REVERSE AN ARRAY

In [ ]:
def reverse(arr):
  return arr[::-1]
a=input()
arr=a.split()
print(" ".join(reverse(arr)))

10 20 30
30 20 10

In [ ]:
a=input()
b=a.split()
r=b[::-1]
print(r)

10 20 30
['30', '20', '10']

#1ST HALF IN ASC& 2ND HALF IN DES

In [7]:
def order(arr,n):
  arr.sort()
  for i in range(n//2):
    print(arr[i],end=" ")
  for j in range(n-1,n//2 -1, -1):
    print(arr[j],end=" ")
  return""
a=input()
arr=a.split()
n=len(arr)
print(order(arr,n))

5 4 1 2 6 3 8 -1
-1 1 2 3 8 6 5 4

#FREQUENCY OF ELEMENTS

In [17]:
def count_frequency(arr):
    counted_elements = []
    for i in range(len(arr)):
        if arr[i] not in counted_elements:
            count = 1
            for j in range(i + 1, len(arr)):
                if arr[i] == arr[j]:
                    count += 1
            counted_elements.append(arr[i])
            print(f"{arr[i]}: {count}")
arr =input().split()
count_frequency(arr)

11 22 33 11 12 33
11: 2
22: 1
33: 2
12: 1

In [ ]:
def frequency_of_elements(arr):
    frequency = {}
    for element in arr:
        if element in frequency:
            frequency[element] += 1
        else:
            frequency[element] = 1
    return frequency
arr=input().split()
print(frequency_of_elements(arr))